.login-form {
    /* display: inline-block;
    width: 20em;
    //background-color: aqua; */
  }
  .mainContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10;
      padding-bottom: 10;
      /* padding-right: 10;
      padding-left: 10;
      border: 1px solid rgba(0, 0, 0, 0.05);
      background-color: aqua; */
  }
  
  .full-width-input {
    display: block;
    /* text-align: right; */
  }
  
  .full-width-input input {
    /* width: 12em;
    padding: 4px 8px;
    margin: 4px 8px;
    border: 1px solid #aaaaaa;
    border-radius: 0; */
  }
  .login-button {
      margin-top:10px;
      height: 40;
      background-color:#24a0ed ;

  }